
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body, html{
  margin:0;

}


.header{
  /*background-color: #c50938;*/
  background: #fe8c00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f86300, #f80909);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f86300, #f80909); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  top:0;
  margin: 0;
  padding: 20px;

}

.header h1{
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

#navbar{
position: absolute;
right:5%;
top:16%;
font-family: Lato, sans-serif;
}

#navbar a{
  text-decoration: none;
  color: #fff;
  padding: 7px;
  transition-duration: 0.3s;
  border-radius: 3px;
}

#navbar li{
  display: inline;
  margin-left: 32px;
  font-size: 20px;
  cursor: pointer;
}


#navbar li a:hover{
  background-color: #fff;
  color:#f80909;
}

.footer{
  font-family: 'Lato';
  height: 70px;
  width: 100%;
  background-color:#232323;
  position: fixed;
  bottom: 0;
  color:white;
}

#copyright{
  position: absolute;
  bottom: 12px;
  right: 12px;
}
#sourcecode{
  position: absolute;
  bottom:15px;
  left:14px;
}

#sourcecode a{
  text-decoration: none;
  color: white;
}

#Email {
  font-size: 16px;
  position: absolute;
  bottom:33px;
  left:14px;
}

#Email a{
  text-decoration: none;
  color: white;

}