@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#Premium{
    padding-top: 90px;
    font-family: 'Ubuntu';
    text-align: center;
    color: #8a8a8a;
    font-size: 30px;
}

#pre #offer{
    position: absolute;
    width: 50%;
    left:25%;
    font-size: 18px;
    margin-top: 0px;
    top:160px;
    font-family: 'Ubuntu';
    text-align: center;
}

#c1{
    position: absolute;
    left:20%;
    top:240px;
}

#c2{
    position: absolute;
    left:calc(40% - 60px);
    top:240px;

}

#c3{
    position: absolute;
    right:calc(40% - 60px);
    top:240px;
}

#c4{
    position: absolute;
    right:20%;
    top:240px;
}


